<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Summarizer</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1>Log Summarizer</h1>
    </div>

    <div class="form-row">
        <!-- Summarize Log Section -->
        <form method="post" action="" class="form-container">
            {% csrf_token %}
            <div>
                <label for="id_summarize-original_log"><strong>Original Log</strong></label><br>
                {{ summarize_form.original_log }}
            </div>
            <div>
                <label for="id_summarize-summarized_log"><strong>Summarized Log</strong></label><br>
                {{ summarize_form.summarized_log }}
            </div>
            <button type="submit" name="summarize" class="summarize-btn">Summarize Log</button>
        </form>
    
        <!-- Ask Question Section -->
        <form method="post" action="" class="form-container">
            {% csrf_token %}
            <div>
                <label for="id_question-question"><strong>Your Question</strong></label><br>
                {{ question_form.question }}
            </div>
            <div>
                <label for="id_question-answer"><strong>Answer from AI</strong></label><br>
                {{ question_form.answer }}
            </div>
            <button type="submit" name="question-ask_question" class="ask-question-btn">Ask Question</button>
        </form>
    </div>
    
    <!-- Conversation History -->
    {% if conversation %}
    <div class="history-container">
        <h2>Conversation History</h2>
        <p><strong>Log:</strong><pre>{{ conversation_sessions.first.original_log }}</pre></p>
        <p><strong>Summary:</strong><pre>{{ conversation_sessions.first.summarized_log }}</pre></p>
        <p><strong>Questions:</strong><pre>{{ conversation.conversation_history }}</pre></p>
        <p><strong>Date:</strong> {{ conversation_sessions.first.created_at }}</p>
    </div>
    {% endif %}

    <!-- Previous Conversations -->
    <div class="history-container">
        <h2>Previous Conversations</h2>
        <ul>
            {% for conv in conversation_sessions %}
            <li>
                <p><strong>Log:</strong> {{ conv.original_log }}</p>
                <p><strong>Summary:</strong> <pre>{{ conv.summarized_log }}</pre> </p>
                <pre>{{ conv.conversation_history }}</pre>
                <p><strong>Date:</strong> {{ conv.created_at }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>
